<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<template>
  <div class="home">
    <div class="home_header">
        <h2>Tuxfa ta'omlar olamiga xush kelibsiz!</h2>
    </div>
    <div class="home_content">
        <div
          class="box"
          v-for="item in praduct"
          :key="item.title"
          >
            <h2>{{ item.title }}</h2>
            <div class="box_img">
                <img :src="item.imgUrl" alt="image">
            </div>
            <router-link :to="item.link">{{ item.link_name }}</router-link>
        </div>
    </div>
    <div class="home_gallery">
        <img
          v-for="(img, i) in gallery"
          :key="i"
          :src="img.imgUrl"
          alt="img"
          @click="activeModal = i, isOpen = true">
    </div>
    <div class="home_modal"
      @click="isOpen = false"
      v-if="isOpen">
      <div class="modal_img" @click.stop>
        <i class="fa-solid fa-chevron-left"
        @click="activeModal === 0 ? activeModal = 5 : activeModal -= 1"></i>
        <img :src="gallery[activeModal].imgUrl" alt="image">
        <i class="fa-solid fa-chevron-right"
        @click="activeModal === 5 ? activeModal = 0 : activeModal += 1"></i>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      isOpen: false,
      activeModal: null,
      praduct: [
        {
          title: "Milliy ta'omlar",
          imgUrl: 'https://www.savol-javob.com/wp-content/uploads/2021/02/8-300x200.jpg',
          link: '/katalog',
          link_name: "Ko'proq ko'rish",
        },
        {
          title: 'Fast foodlar',
          imgUrl: 'https://s-english.ru/images/topik/fast-food.jpg',
          link: '/katalog',
          link_name: "Ko'proq ko'rish",
        },
        {
          title: 'Salatlar',
          imgUrl: 'https://blitz.center/sites/default/files/styles/amp_1200x675_16_9/public/image/2022-09/jpg/salat-olive_0.jpg?itok=rXqhiqbS',
          link: '/katalog',
          link_name: "Ko'proq ko'rish",
        },
      ],
      gallery: [
        {
          imgUrl: 'http://cdn.beta.qalampir.uz/uploads/Ll/m_NUn9Brb1e2kkAmz9tJICTb3vM6RWzc.jpg',
        },
        {
          imgUrl: 'https://uzbekistan.travel/storage/app/media/nargiza/cropped-images/kuhnyaj-0-0-0-0-1589979425.jpg',
        },
        {
          imgUrl: 'https://www.summahealth.org/-/media/project/summahealth/website/page-content/flourish/2_18a_fl_fastfood_400x400.webp?h=400&w=400&la=en&hash=92457243FC679B70A8F1BEC34E50CC6F470AE008',
        },
        {
          imgUrl: 'https://content.jdmagicbox.com/comp/chennai/z2/044pxx44.xx44.170211170703.r8z2/catalogue/tibbs-frankie-vadapalani-chennai-street-food-3bf7nj9.jpg?clr=',
        },
        {
          imgUrl: 'https://img.delo-vcusa.ru/2018/04/Salat-Horiatiki-s-brynzoj.jpg',
        },
        {
          imgUrl: 'https://e0.edimdoma.ru/data/recipes/0006/0453/60453-ed4_wide.jpg?1391419884',
        },
      ],
    };
  },
};
</script>

<style lang='scss' src='./HomeView.scss'>

</style>
