.home{
    .home_header{
        background: url('https://images.squarespace-cdn.com/content/v1/5eaf7f849c2b1b3a0066e2b1/1589341796931-DZ4RCIY6BYCQX7T6Z04R/Home_Banner_Option+6.jpg?format=2500w') no-repeat;
        background-position: center center;
        width: 100%;
        height: 550px;
        position: relative;
        background-size: cover;
        display: flex;
        align-items:center;
        justify-content: center;
        h2{
            color: #fff;
            position: relative;
            text-align: center;
            z-index: 3;
            font-size: 40px;
            letter-spacing: 1px;
            font-family: monospace;
        }
        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            background-color: rgba(0, 0, 0, 0.534);
        }
    }
    .home_content{
        width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 60px auto;
        .box{
            width: 400px;
            height: auto;
            background:  #da2b59;
            padding-bottom: 30px;
            h2{
                color: #fff;
                font-weight: normal;
                font-family: monospace;
                font-size: 25px;
                line-height: 40px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            .box_img{
                width: 100%;
                height: 300px;
                overflow: hidden;
                margin-bottom: 30px;
                img{
                    transition: 0.4s ease 0s;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            a{
                background: #fff;
                padding: 15px 20px;
                color: #da2b59 !important;
                border-radius: 20px;
                transition: .4s;
                font-size: 20px;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    .home_gallery{
        width: 1400px;
        margin: 60px auto;
        height: 600px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        box-sizing: border-box;
        img{
            width: 32.8%;
            height: 50%;
            cursor: pointer;
            transition: .3s;
            &:hover {
                transform: scale(1.03);
            }
        }
    }  
    .home_modal{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000000, $alpha: .8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 30;
        .modal_img{
            width: 50%;
            height: 80%;
            display: flex;
            align-items: center;
            i {
                color: aliceblue;
                font-size: 30px;
            }
            img{
                width: 100%;
                height: 100%;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    } 
}