<!-- eslint-disable vue/require-v-for-key -->
<!-- eslint-disable vue/no-multiple-template-root -->
<!-- eslint-disable max-len -->
<template>
  <main >
    <div class="container">
    <div class="img-wrapper">
      <img :src="fastFood.img" width="1000" alt="about img">
      <h2>{{fastFood.title}}</h2>
    </div>
    <v-form @submit.prevent="addedCard" ref="form" class="card-left-wrap">
        <h1 class="title">{{fastFood.title}}</h1>
        <p class="subtitle">{{fastFood.text}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sequi quas dolore quod blanditiis incidunt, consequuntur similique, quam molestias excepturi, aspernatur veniam. Dolorum veritatis culpa iusto, dolore ullam earum nisi?</p>
        <div class="countr-wrap">
          <p class="countr-text">Xarid qilish</p>
          <div class="btn-wrap">
            <button
              class="minus-count btn"
              @click="fastFood.count -= 1"
              :disabled="fastFood.count <= 1"
              type="button"
              >-</button>
               <v-text-field
                  :rules="countRules"
                  outlined
                  type="number"
                  v-model="fastFood.count"
                ></v-text-field>
            <button
              class="plus-count btn"
              type="button"
              @click="fastFood.count = fastFood.count - 0 + 1"
            >+</button>
          </div>
        </div>
        <div class="price-wrap">
          <p class="price-text">Sotuv narxi</p>
          <h5 class="price">{{
              (fastFood.price * fastFood.count)
                .toString()
                .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
            }}
            so'm</h5>
        </div>
        <button class="basket"  type="sumbit">Savatchaga joylash</button>
    </v-form>
    </div>
  </main>
</template>

<script>
// eslint-disable-next-line import/extensions
import FoodsData from '@/cardData.js';

export default {
  name: 'CardAbout',
  data() {
    return {
      fastData: FoodsData,
      countRules: [(v) => v <= 10 || 'Faqat 10 tagacha maxsulot olish mumkin', (v) => v > 0 || "Iltmos hisobni to'g'ri kiriting"],
      fastFood: {
        img: 'snek.png',
      },
    };
  },
  created() {
    if (localStorage.getItem('cardItmes')) {
      const itemsData = JSON.parse(localStorage.getItem('cardItmes') || '[]');
      const findItems = itemsData.find((items) => items.id === Number(this.$route.params.id));
      if (findItems) {
        this.fastFood = findItems;
      } else {
        this.fastFood = this.fastData.find((item) => item.id === Number(this.$route.params.id));
      }
    } else {
      this.fastFood = this.fastData.find((item) => item.id === Number(this.$route.params.id));
    }
  },
  methods: {
    addedCard() {
      if (!this.$refs.form.validate()) {
        return;
      }
      const cardItems = JSON.parse(localStorage.getItem('cardItmes') || '[]');
      const findData = cardItems.find((items) => items.id === Number(this.$route.params.id));
      if (findData) {
        findData.count = this.fastFood.count;
      } else {
        cardItems.push(this.fastFood);
      }
      localStorage.setItem('cardItmes', JSON.stringify(cardItems));
    },
  },
};
</script>

<style src="./CardAbout.scss" lang="scss" scoped></style>
