.container {
  width: 100%;
  max-width: 1360px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 150px;
}

.img-wrapper {
  width: 100%;
  max-width: 45%;
  text-align: center;

  img {
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
  }

  h2 {
    margin-top: 20px;
    font-size: 30px;
    color: #da2b59;
    padding: 10px 35px;
    background-color: #F7FF93;
    border-radius: 20px;
    border: 2px dashed #da2b59;
    display: inline-block;
  }
}

.card-left-wrap {
  margin: 0;
  width: 100%;
  max-width: 45%;
  text-align: center;
  padding: 30px 20px;
  border-top-left-radius: 102px;
  border-bottom-right-radius: 102px;
  background-color: #fd831f1c;
  border: 1px dotted plum;
  box-shadow: 0px 0px 30px 1px rgba(34, 60, 80, 0.21);


.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px !important;
  color: #da2b59;
  border-radius: 20px;
  margin-bottom: 50px;
}

.subtitle {
  color: #da2b59;
  font-size: 20px;
  opacity: 0.7;
}
}

.countr-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .countr-text {
    margin: 0;
    padding: 0;
    color: #da2b59;
    font-size:22px;
    margin-right: 40px;
  }

  .btn-wrap {
    font-size: 20px;
    color: #da2b59;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }

  .btn {
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 22px;
    margin: 0 15px;
    margin-top: 5px;
    &:active {
      transform: scale(0.98)
    }
  }
  
  .plus-count {
    background-color: #da2b59;
    color: #FFFF00
  }

  .minus-count {
    background-color: #da2b59;
    font-size: 26px;
    padding: 3px 17px;
    color: #FFFF00
  }
  .minus-count[disabled] {
    opacity: 0.5;
  }

}

.price-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  padding: 7px 0;
  background-color: #F7FF93;

  .price-text {
    margin: 0;
    padding: 0;
    margin-right: 40px;
    font-size: 22px;
    color: #FC5404;
  }

  .price {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    font-size: 22px;
    color: #3CCF4E;
  }
}

.basket {
  margin-top: 60px;
  background-color: #F45905;
  border-radius: 10px;
  font-size: 18px;
  color: yellow;
  padding: 10px 15px;

  &:active {
    transform: scale(0.98)
  }
}