.katalog{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; 
    margin-top: 40px;
    button{
        padding: 20px 40px;
        width: 230px;
        border-radius: 20px;
        font-size: 23px;
        background: #fff;
        color: #da2b59;
        border: 1px solid #da2b59;
        transition: .4s;
        &:hover{
            color: #fff;
            background: #da2b59;
        }
        &.active{
            color: #fff;
            background: #da2b59;
        }
    }
}

.site-main {
    margin-top: 30px;
  }
  
  .container {
    width: 100%;
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // justify-content: center;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0 !important;
    hr {
      background-color: aquamarine;
      height: 1px;
      border: none;
    }
  }
  .card-item {
    cursor: pointer;
    width: 350px;
    min-height: 420px;
    box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.3);
    margin: 30px 20px;
    background-color: #da2b59;
    position: relative;
  }
  
  .card-img-warap {
    overflow: hidden;
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease 0s;  
    .card-img-warap_hover{
      position: absolute;
      left: 0;
      top: 200px;
      z-index: 33;
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #da2b59;
      display: none;
      .card-img_hover{
        width: 33.3%;
        height: 100%;
      }
    }
    &:hover{
      .card-img-warap_hover{
        display: block;
      }
    }
    
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.4s ease 0s;
   
    &:hover {
      transform: scale(0.98)
    }
  }
  
  .card-head {
    margin: 0 15px;
    & .card-text{
      color: #fff;
    }
  }
    .card-title {
      color: papayawhip;
      margin: 10px;
  
      a {
        font-weight: bold;
        transition: all .4s ease;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .card-text {
      color: #fff70abb;
      font-size: 14px !important;
      margin: 10px;
    }
    .card-price{
      color: bisque;
      font-weight: bold;
      font-size: 20px;
      margin-left: 10px;
      letter-spacing: 1.1px;
    }
    .card-bottom {
      margin:20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
  
      .card-price {
        margin: 0;
        padding: 0;
        color: #fff;
      }
  
      .card-btn {
        margin: 0;
        padding: 10px 15px;
        background-color: white;
        border-radius: 12px;
        color: #da2b59;
        font-weight: bold;
        transition: .4s;
        &:hover {
          opacity: 0.8;
        }
  
        &:active {
          transform: scale(0.98);
        }
      }
    }
  
  
    .card-caunt {
      display: flex;
      padding-left: 10px;
      justify-content: center;
      align-items: flex-start;
      background: #fff;
      padding-top: 15px;
      .btn {
        padding: 3px 11px;
        border-radius: 10px;
        font-size: 22px;
        margin: 0 10px;
        &:active {
          transform: scale(0.98)
        }
      }
      
      .plus-count {
        background-color: #fff;
        color: #da2b59
      }
    
      .minus-count {
        background-color: #fff;
        font-size: 26px;
        padding: 0px 14px;
        color: #da2b59
      }
      .minus-count[disabled] {
        opacity: 0.5;
      }
      .korzina{
        outline: none;
        margin-top: 12px;
        margin-right: 20px;
        margin-left: 10px;
      }
      .korzina[disabled] {
        opacity: 0.2;
        filter: brightness(80%);
      }
    }