<!-- eslint-disable max-len -->
<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<!-- eslint-disable vue/no-unused-components -->
<template>
    <div>
      <div class="katalog">
        <button
          v-for="item in restData"
          :key="item.id"
          @click="clickBtn(item)"
          :class="{active: activeBtn === item.id}"
          >{{ item.title }}</button>
      </div>
      <main class="site-main">
        <div class="container">
          <ul class="card-list">
            <li
             v-for="item in foods"
             :key="item.id"
            class="card-item"
            @click="$router.push({ name: 'CardAbout', params: {id: item.id} })">
            <div class="card-img-warap">
              <img class="card-img"
              :src="item.img"
              alt="card-img">
               <div class="card-img-warap_hover" @click.stop>
                <img class="card-img_hover"
                @click="clickImg(item, 'img1')"
                :src="item.img1" alt="card-img">
                <img class="card-img_hover"
                @click="clickImg(item, 'img2')"
                :src="item.img2" alt="card-img">
                <img class="card-img_hover"
                @click="clickImg(item, 'img3')"
                :src="item.img3" alt="card-img">
              </div>
            </div>
            <div class="card-head">
              <h2 class="card-title">{{item.title}}</h2>
              <p class="card-text">{{item.text}}</p>
            </div>
            <hr />
            <div class="card-bottom" @click="item.edit = true" v-if="!item.edit && 1 === item.count">
              <p class="card-price">{{item.price}} so'm</p>
              <button class="card-btn" @click.stop="item.edit = true">Tanlash</button>
            </div>
              <div
                v-else
                ref="form"
                class="card-caunt">
                <p class="card-price" style="color:#da2b59; font-family: Arial; lineHeight:20px">{{item.price * item.count}} so'm</p>
                <button
                  class="minus-count btn"
                  @click.stop="updateCount(item, 'minus')"
                  type="button"
                >-</button>
                <v-text-field
                  :rules="countRules"
                  outlined
                  type="number"
                  v-model="item.count"
                  @click.stop
                ></v-text-field>
                <button
                  class="plus-count btn"
                  type="button"
                  @click.stop="updateCount(item, 'plus')"
                 >+</button>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <!-- <site-main ref="siteMain"/> -->
    </div>
</template>

<script>
// import SiteMain from '@/components/SiteMain/SiteMain.vue';
// eslint-disable-next-line import/no-unresolved, import/extensions
import restoransData from '@/restoransData.js';
// eslint-disable-next-line import/extensions
import FoodsData from '@/cardData.js';

export default {
  name: 'KatalogView',
  data() {
    return {
      restData: restoransData,
      activeBtn: 0,
      fastData: FoodsData,
      countRules: [(v) => v <= 10 || '', (v) => v > 0 || ''],
      foods: FoodsData,
    };
  },
  created() {
    if (localStorage.getItem('cardItmes')) {
      const storeData = JSON.parse(localStorage.getItem('cardItmes') || '[]');
      this.fastData.forEach((items) => {
        const findItems = storeData.find((item) => items.id === item.id);
        if (findItems) {
          // eslint-disable-next-line no-param-reassign
          items.count = findItems.count;
          // items.edit = true;
        }
      });
    }
  },
  methods: {
    clickBtn(item) {
      this.activeBtn = item.id;
      if (item.id === 0) {
        this.foods = this.fastData;
      } else {
        // eslint-disable-next-line no-unused-vars
        this.foods = this.fastData.filter((items) => items.parent === item.id);
      }
    },
    updateCount(data, type) {
      const cardItems = JSON.parse(localStorage.getItem('cardItmes') || '[]');
      const findData = cardItems.find((items) => items.id === data.id);
      if (data.count - 1 === 0 && type === 'minus') {
        const findIndex = cardItems.findIndex((item) => item.id === data.id);
        cardItems.splice(findIndex, 1);
        // eslint-disable-next-line no-param-reassign
        data.edit = false;
      } else if (findData) {
        // eslint-disable-next-line no-param-reassign
        findData.count = type === 'minus' ? data.count -= 1 : data.count += 1;
      } else {
        cardItems.push(data);
      }
      localStorage.setItem('cardItmes', JSON.stringify(cardItems));
    },
    // eslint-disable-next-line consistent-return
    clickImg(data, imgs) {
      if (imgs === 'img1') {
        // eslint-disable-next-line no-param-reassign
        data.img = data.img1;
      } else if (imgs === 'img2') {
        // eslint-disable-next-line no-param-reassign
        data.img = data.img2;
      } else if (imgs === 'img3') {
        // eslint-disable-next-line no-param-reassign
        data.img = data.img3;
      } else {
        return data.img;
      }
    },
    dataSort() {
      for (let index = 0; index < this.fastData.length; index += 1) {
        if (this.fastData.parent === 1) {
          // eslint-disable-next-line no-unused-vars
          const data1 = Math.push(this.fastData);
        }
      }
    },
  },
};
</script>

<style lang='scss' src='./Katalog.scss'></style>
