<template>
    <div>
      <site-header />
    </div>
</template>

<script>
// eslint-disable-next-line import/no-unresolved
import SiteHeader from '@/components/SiteHeader/SiteHeader.vue';

export default {
  name: 'SiteHeaderData',
  components: {
    SiteHeader,
  },
};
</script>

<style>

</style>
