@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.site-header {
  width: 100%;
  height: 80px;
  background-color: #da2b59;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-heading {
  font-weight: 400;
  font-family: 'Monoton', cursive;
  margin-top: 17px;
}

.site-nav__list {
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 23px;

  .site-nav__item {
      margin: 0 60px;
      a{
        color: #fff;
      }
      .item_active{
        color: rgb(0, 102, 255);
      }
  }
}
a{
  text-decoration: none;
}
