<!-- eslint-disable max-len -->
<template>
    <header class="site-header">
      <div class="container">
        <h1 class="site-heading">
           Turfa-Ta'omlar
        </h1>
          <nav class="site-nav">
            <ul class="site-nav__list">
              <li class="site-nav__item" v-for="menu in menuArr" :key="menu.name">
                 <router-link :to="menu.link" href="#"
                 class="site-nav__link"
                 exact-active-class="item_active"> {{ menu.name }} <sup v-if="menu.name === 'Karzina'">{{ zakazCount }}</sup> </router-link>
              </li>
            </ul>
          </nav>
      </div>
    </header>
</template>

<script>
export default {
  name: 'SiteHeaderComponent',
  data() {
    return {
      menuArr: [
        {
          name: 'Home',
          link: '/',
        },
        {
          name: 'Katalog',
          link: '/katalog',
        },
        {
          name: 'Contact',
          link: '/contact',
        },
        {
          name: 'Karzina',
          link: '/korzina',
        },
      ],
    };
  },
  computed: {
    zakazCount() {
      return JSON.parse(localStorage.getItem('cardItmes') || '[]').length;
    },
  },
};
</script>

<style src="./SiteHeader.scss" lang="scss"></style>
