<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vuejs-accessibility/iframe-has-title -->
<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="contact">
    <div class="contact_header">
        <h2>Contact Us</h2>
    </div>
    <div class="contact_mein container">
        <div class="contacts box">
            <h3>Telefon raqam</h3>
            <a href="tel: +998978092026"><i class="fa-solid fa-phone"></i> +998978092026</a>
            <a href="tel: +998978092026"><i class="fa-solid fa-phone"></i> +998978092026</a>
            <a href="mailto: qarshiyevashoira777@gmail.com">
                <i class="fa-solid fa-envelope"></i> qarshiyevashoira777@gmail.com</a>
        </div>
        <div class="location box">
            <h3>Manzil</h3>
            <a href="https://goo.gl/maps/twjhM5rPpwqW8fNBA" target="_blank"><i class="fa-solid fa-city"></i> Toshkent</a>
            <a href="https://goo.gl/maps/twjhM5rPpwqW8fNBA" target="_blank"><i class="fa-solid fa-location-dot"></i> Toshkent, Yunuzobod</a>
        </div>
        <div class="satsial box">
            <h3>Satsial tarmoqlar</h3>
            <a href="tg: //t.me/Qarshiyeva_sh"> <i class="fa-brands fa-telegram"></i> Telegram</a>
            <a  href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
            <a  href="#"><i class="fa-brands fa-facebook-f"></i> Facebook</a>
            <a  href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
        </div>
    </div>
    <div class="contact_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.70429797456!2d69.28237031566947!3d41.33704300707702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b5261aef9ef%3A0x82a0cb91e48981c0!2z0JHQvtC00LDQvNC30LDRgA!5e0!3m2!1sru!2s!4v1664886582650!5m2!1sru!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</template>

<script>
export default {

};
</script>

<style lang='scss' src='./Contact.scss'>

</style>
