.contact{
    width: 100%;
    min-height: 57vh;
    .contact_header{
        width: 100%;
        height: 500px;
        background: url('https://image.shutterstock.com/image-photo/healthy-breakfast-ingredients-food-frame-260nw-730734214.jpg') no-repeat;
        background-position: center center;
        width: 100%;
        position: relative;
        background-size: cover;
        display: flex;
        align-items:center;
        justify-content: center;
        h2{
            color: #fff;
            position: relative;
            text-align: center;
            z-index: 3;
            font-size: 40px;
            letter-spacing: 1px;
            font-family: monospace;
        }
        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            background-color: rgba(0, 0, 0, 0.534);
        }
    }
    .contact_mein{
        align-items: flex-start;
        margin: 50px auto;
        font-family: monospace;
        .box{
            width: 400px;
            background: #da2b59;
            height: 280px;
            padding: 40px;
            padding-right: 20px;
            color: #fff;
            border-radius: 20px;
            transition: .5s all;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3{
                font-size: 20px;
                color: #fff;
                margin-bottom: 15px;
            }
            a{
                cursor: pointer;
                font-size: 18px;
                line-height: 39px;
                color: #fff;
                i{
                    margin-right: 6px;
                }
            }
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
    .contact_map{
        width: 100%;
        height: 400px;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}