<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<template>
  <div class="home_modal" @click="$emit('action')">
    <div class="modal_img" @click.stop>
        <i class="fa-solid fa-chevron-left" @click="modalClick(item, 'left')"></i>
        <img :src="item.imgUrl" alt="image">
        <i class="fa-solid fa-chevron-right" @click="modalClick(item, 'right')"></i>
        </div>
  </div>
</template>

<script>
export default {
  name: 'HomeModal',
  props: {
    item: Object,
  },
  methods: {
    modalClick(item, type) {
      if (item === 0 && type === 'right') {
        console.log(item);
      }
    },
  },
};
</script>

<style lang='scss'>
.home_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    .modal_img{
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        i {
            color: aliceblue;
            font-size: 30px;
        }
        img{
            width: 100%;
            height: 100%;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}
</style>
