<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vuejs-accessibility/form-control-has-label -->
<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="footer">
    <div class="footer_inner container">
      <div class="logo_box">
        <h1 class="site_logo" @click="$router.push({ name: 'home'})">
          Turfa-Ta'omlar
        </h1>
      <p>Some food has looked so awful that it's looked like something that the dog's brought home.
        </p>
        <strong>Fllow Us</strong>
        <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-telegram"></i>
        </div>
      </div>
      <div class="menu_box">
        <h2>Menu</h2>
        <ul>
          <li class="site-nav__item" v-for="menu in menuArr" :key="menu.name">
            <router-link
            :to="menu.link"
            href="#" class="site-nav__link"
            > {{ menu.name }} </router-link>
          </li>
        </ul>
      </div>
      <div class="email_box">
        <h2>Newsletter</h2>
        <div class="email_box_input">
          <input type="text" placeholder="Your Email">
          <button>Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menuArr: [
        {
          name: 'Home',
          link: '/',
        },
        {
          name: 'Katalog',
          link: '/katalog',
        },
        {
          name: 'Contact',
          link: '/contact',
        },
        {
          name: 'Karzina',
          link: '/korzina',
        },
      ],
    };
  },
};
</script>

<style lang='scss' src='./Footer.scss'>

</style>
