.footer{
    width: 100%;
    height: 320px;
    background: #0A0808;
    font-family: monospace;
    .footer_inner{
        align-items: flex-start;
        padding-top: 60px;
        .logo_box{
            width: 33.5%;
            color: #fff;
            .site_logo{
                font-weight: 400;
                font-family: 'Monoton', cursive;
                color: #fff;
                cursor: pointer;
                margin-bottom: 10px;
                color: #D64374;
            }
            strong{
                font-size: 18px;
                color: #D64374;
            }
            .icons{
                margin-top: 10px;
                display: flex;
                gap: 20px;
                i {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .menu_box{
            width: 20%;
            h2{
                color: #fff;
                margin-bottom: 15px;
                font-size: 25px;
            }
            ul{
                padding-left: 0;
                li{
                    a{
                        font-size: 18px;
                        line-height: 30px;
                        color: #fff;
                    }
                }
            }
        }
        .email_box{
            h2{
                color: #fff;
                margin-bottom: 20px;
            }
            .email_box_input{
                width: 380px;
                height: 55px;
                border: 2px solid #D64374;
                border-radius: 5px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input{
                    padding: 20px 32px;
                    outline: none;
                    color: #fff;
                }
                button{
                    padding: 14.5px 18px;
                    background: #D23166;
                    border-radius: 5px;
                    outline: none;
                    color: #fff;
                    transition: .4s;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }
    }
}