<template>
  <div class="errors">
    <div class="error_inner">
        <h1>P A G E</h1>
        <h3>error not found !</h3>
    </div>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Error',
};
</script>

<style lang='scss'>
.errors{
    width: 100%;
    margin: 150px auto;
    .error_inner{
        text-align: center;
        h1{
            font-size: 100px;
            line-height: 160px;
            color: #da2b59;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
        }
        h3{
            font-size: 50px;
            color: #000;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
        }
    }
}
</style>
