<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="korzina">
    <div class="korzina_cards">
      <div class="card" v-for="item in data" :key="item.id">
        <div class="card_img">
          <img
            :src="item.img"
            alt="img">
        </div>
        <div class="card_taxt">
          <h3>{{ item.title }}</h3>
          <p>{{ item.text }}</p>
          <strong>Maxsulot soni: {{ item.count }}</strong>
          <h4>{{ item.title}}larning narxi: <span>{{ item.price * item.count}}</span></h4>
        </div>
      </div>
      <div class="karzina_btns">
        <h3>Umumiy zakaz berish narxi: <strong>{{ allPrice }}</strong> so'm</h3>
        <button class="karzina_btn">Zakaz berish</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'Karzina',
  components: {},
  data() {
    return {
      data: null,
      allPrice: 0,
      countRules: [(v) => v <= 10 || 'Faqat 10 tagacha maxsulot olish mumkin', (v) => v > 0 || "Iltmos hisobni to'g'ri kiriting"],
    };
  },
  mounted() {
    if (localStorage.getItem('cardItmes')) {
      const itemsData = JSON.parse(localStorage.getItem('cardItmes'));
      this.data = itemsData;
    }
    this.data.forEach((datas) => {
      this.allPrice += datas.price * datas.count;
    });
  },
};
</script>

<style lang='scss'>
.korzina{
  width: 100%;
  margin: 0 auto;
  min-height: 57vh;
  .korzina_cards{
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    .card{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0px 3px 8px rgba($color: #000000, $alpha: .3);
      .card_img{
        width: 200px;
        height: 150px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .card_taxt{
        width: 580px;
        h3{
          font-size: 25px;
          margin-bottom: 10px;
          color: #da2b59;
        }
        strong{
          color: #000000cb;
          font-weight: bold;
          font-size: 25px;
        }
        h4{
          color: #da2b59;
        }
      }
    }
    .karzina_btns{
      margin-top: 30px;
      padding: 20px 30px;
      margin-bottom: 30px;
      border-radius: 10px;
      background: #da2b59;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .karzina_btn{
        background: #fff;
        font-weight: bold;
        outline: none;
        color: #da2b59;
        transition: .4s;
        padding: 15px 20px;
        border-radius: 10px;
        &:hover{
          background: pink;
        }
      }
      h3{
        color: #fff;
        letter-spacing: 0.9px;
        font-size: 20px;
        strong{
          font-size: 22px;
          color: antiquewhite;
        }
      }
    }
  }
}
</style>
