<template>
  <v-app>
    <site-header />
    <router-view />
    <Footer />
  </v-app>
</template>

<script>
import Footer from '@/components/Footer/Footer.vue';
import SiteHeader from '@/views/SiteHeader/SiteHeader.vue';

export default {
  name: 'App',

  data: () => ({
    //
  }),
  components: {
    SiteHeader,
    // eslint-disable-next-line vue/no-unused-components
    Footer,
  },
};
</script>

<style>
button:focus {
  outline: 2px dotted orangered;
  outline-offset: 2px;
}
</style>
