
//v-text-field
$text-field-border-radius: 8px;
$text-field-line-height: 24px;
// $text-field-outlined-fieldset-border: 2px solid red;
$text-field-filled-full-width-outlined-slot-min-height: 43px;
$input-icon-width: 11px;
$input-icon-min-width: 11px;
$input-font-size: 16px;